PORT=3000
API_PORT=3000
NODE_ENV=development
DB_TYPE=sqlite
SQLITE_DB_PATH=:memory:
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=ecommerce_db
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/ecommerce_db
